
<textarea style="width: 100vw; height: 100vh;">{{hypercoreInfo}}</textarea>

<h5>Other Apps</h5>
<ul>
  {{#each partnerApps}}
    <li>
      <a href="{{url}}">{{name}}</a>
      {{#if ../session}}
        <span> | </span>
        <a href="/send-me-to?app={{name}}">one-click-login</a>
      {{/if}}
    </li>
  {{/each}}
</ul>
